*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*  @font-face para gg sans */
@font-face {
    font-family: 'GGSans';
    src: url('../fonts/gg\ sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GGSans';
    src: url('../fonts/gg\ sans\ Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GGSans';
    src: url('../fonts/gg\ sans\ Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GGSans';
    src: url('../fonts/gg\ sans\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Aplica la tipografía GGSans */
body {
    background-color: #404eed;
    font-family: 'GGSans', sans-serif;
}

/*------------------------------------------- nav ------------------------------------------------*/
nav {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    font-weight: 600;
}

nav button {
    border: none;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
    font-weight: bold;
}

nav button:hover {
    color: #404eed;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.btn-nav img{
    display: none;
}


/*------------------------------------------- header ------------------------------------------------*/
header {
    height: 454px;
    background: url('/images/header-montanas.svg') no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
}

.imagen-header-izquierda {
    align-self: flex-end;
}

.imagen-header-izquierda img {
    margin-left: -250px;
    margin-bottom: -5px;
    align-self: flex-end;
}

.-texto {
    align-content: center;
    text-align: center;
    color: white;
}

.contenedor-central-texto h1 {
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.contenedor-central-texto p {
    font-size: 20px;
    
    color: #fff;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
}

.texto-btn-movil{
    display: none;
}

.boton-izquierda {
    border: none;
    text-align: center;
    object-fit: fill;
    background-color: #f7f7fd;
    border-radius: 32px;
    margin-top: 24px;
    margin-right: 24px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    transition: all .2s;
    display: flex;
}

.boton-izquierda:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.boton-derecha {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #23272a;
    border-radius: 32px;
    margin-top: 24px;
    margin-bottom: 0;
    margin-right: 24px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s;
    border: none;
}

.boton-derecha:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.imagen-header-derecha {
    align-self: flex-end;
}

.imagen-header-derecha img {
    margin-right: -200px;
    margin-bottom: -5px;
    align-self: flex-end;
}

/*------------------------------------------- main ------------------------------------------------*/

/*---------------- seccion uno,dos,tres -----------------*/
.seccion-uno, .secccion-tres  {
    background-color: white;
}

.seccion-dos {
    background-color: #f6f6f6;
}

.contenedor-seccion {
    display: flex;
    
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 130px 0 ;
}

.contenedor-seccion img {
    display: block;
    width: 80%;
    margin: auto;
}

.contenedor-seccion h2 {
    font-size: 48px;
    padding-bottom: 20px;
    color: #23272a;
}

.contenedor-seccion p {
    font-size: 20px;
    color: #23272a;
}

.contenedor-seccion-img {
    flex-basis: 50%;
}

.contenedor-seccion-texto {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 86%;
}

/*---------------- seccion cuatro -----------------*/

.seccion-cuatro {
    background-color: #f6f6f6;
}

.contenedor-seccion-cuatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    width: 80%;
    margin: auto;
    padding: 130px 0 130px;
}

.seccion-cuatro h2 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #23272a;
}

.seccion-cuatro p {
    font-size: 20px;
    color: #23272a;
}

.contenedor-seccion-cuatro-img {
    width: 100%;
}

.seccion-cuatro img {
    width: 100%;
}

.contenedor-seccion-cuatro-descarga {
    background: url('/images/estrellas-descargarmac.svg') no-repeat top;
    background-size: contain;
    width: 70%;
}

.seccion-cuatro h3 {
    font-size: 32px;
    color: #23272a;
    padding: 20px;
}

.seccion-cuatro button {
    color: #fff;
    text-align: center;
    background-color: #5865f2;
    border-radius: 28px;
    margin-top: 0;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s;
    border: none;
}

.seccion-cuatro button:hover {
    background-color: #7289da;
    box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

/*------------------------------------------- footer ------------------------------------------------*/

footer {
    background-color: #23272a;
    color: white;
}

footer h4 {
    color: #5865f2;
    padding-bottom: 10px;
}

footer li {
    padding-bottom: 8px;
}

.contenedor-arriba-footer {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 80px 0 80px;
    justify-content: space-between;
}

.desplegable {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
}

.desplegable-contenido {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    bottom: 100%;
    margin-bottom: 10px;
    z-index: 1;
}

.desplegable-contenido a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.desplegable-contenido a:hover {
    background-color: #f1f1f1;
}

.desplegable:hover .desplegable-contenido {
    display: block;
}

.desplegable-btn:hover {
    background-color: #3e8e41;
}

.desplegable-btn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.contenedor-redes a {
    padding-right: 5px;
}

.contenedor-abajo-footer {
    border-top: 1px solid #5865f2;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 60px;
    display: flex;
    width: 80%;
}

.contenedor-abajo-footer button {
    color: white;
    background-color: #5865f2;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
    border: none;
}

.contenedor-links-footer{
    display: flex;
    gap: 50px;
}

/*<----------MOBILE-------------------------------------------------->*/


@media only screen and (min-width:350px) and (max-width:480px){

/*<----------nav---------------->*/  

nav{
    padding: 0px 20px;
    justify-content: space-between;

}
    .nav-subpaginas{
        display: none;
    }

    .btn-nav button{
        display: none;
    }

    .btn-nav img{
        display: block;
    }

/*<----------header---------------->*/ 

header{
    display: flex;
    flex-direction: column;
    background-image: none;
    height: 100%;
}
.contenedor-central-texto{
    
    padding: 40px 40px 0px ;
}

.contenedor-central-texto h1{
    font-size: 24px;
}

.contenedor-central-texto p{
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 10px 0px 0px ;
}

.imagen-header-izquierda{
    order: 2;
    margin-top: -8px;
    
}
.imagen-header-izquierda img{
   
width: 95%;
margin: 0px -30px;
    
}

.contenedor-botones{
    justify-content: center;
   z-index: 2;
   gap:20px;
   padding-top:20px;
}
.texto-btn-escritorio{
    display: none;
}
.texto-btn-movil{
    display: inline;
}
.boton-izquierda{
    align-items: center;
    margin: 0;
}
.boton-derecha {
    content: "Abrir Discord";
    margin: 0;
    
}
.imagen-header-derecha{
    display: none;
}

/*<----------MAIN---------------->*/ 
.contenedor-seccion{
flex-direction: column;
width: 100%;
}
.contenedor-seccion h2{
    font-size: 28px;
    padding-top: 10px;

}
.contenedor-seccion p {
    font-size: 16px;
}
.contenedor-seccion-img{
    order: 0;
    
}
.contenedor-seccion-texto{
    order:1;
}
.seccion-tres{
    background-color: #ffffff;

}
.seccion-cuatro h2{
    font-size: 34px;

}
.seccion-cuatro p{
    font-size: 18px;
}
/*<----------FOOTER---------------->*/ 

.contenedor-arriba-footer{
    flex-direction: column;
}

.contenedor-links-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    justify-content: space-between;
}
.lista-links{
    width: 45%;
}
}